
main{
    width: 100%;
    height: 100%;
}
img{
    border-radius: 8px;
}
.container{
    padding: 80px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card{
    height: 296px;
    width: 220px;
    overflow: hidden;
    background-color: white;
    color: black;
    padding: 8px 16px;
    border-radius:8px;
}
.list-products{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
}

input{
    color: black;
    padding: 8px 16px;
    border-radius: 8px;

}

.description{
    padding: 4px 0;
    color: grey;
    height: 37px;
    /* overflow: hidden; */
    text-overflow: ellipsis;
}
.title{
    padding: 4px 0;
    font-weight: bold;
}

.desc{
    text-overflow: ellipsis;
    overflow: hidden;
white-space: nowrap;
}

.sorted{
    display: flex;
    flex-direction: column;
}

.price{
    color: black;
    font-weight: 500;
}